INSTALL_BLOCK
.buildpath
.project
.settings/*
docker/data/*
docker/persist/*
vendor/*
attachments/*
temp/*
!temp/.htaccess
uploads/*
test/screenshots/
# Ignore Mac DS_Store files
.DS_Store
/vendor/
.phpunit.result.cache
*.diff
*.rej
adapter/migrate/raw_import.csv
adapter/migrate/raw_gulftalent.csv
adapter/migrate/candidates.csv
